<!DOCTYPE html>
<html>
<head>
	<title>{{ page_title }}</title>
	<link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}" type="text/css">}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,700" type="text/css">
</head>
<body>

	<div class="header">

		<div class="wrapper">

			<h1 ><a href="{{ url_for("index") }}">Your design is here </a></h1>

			<ul class="">
				<li class="shirts {% if section == "shirts" %}on{% endif %}"><a href="{{ url_for("shirts") }}">Shirts</a></li>
				<li class="contact {% if section == "contact" %}on{% endif %}"><a href="{{ url_for("login") }}">Customer Login</a></li>

			</ul>

		</div>

	</div>

	<div id="content">
	{% block body %}{% endblock %}
	</div>

	<div class="footer">

		<div class="wrapper">

			<ul>		
				<li><a href="https://twitter.com/mash4peace">Twitter</a></li>
				<li><a href="https://www.facebook.com/mohamedabdirizak.sheikhali">Facebook</a></li>
			</ul>

			<p>&copy;{{ current_year }} Shirts 4 your design</p>

		</div>
	
	</div>

	{% for message in get_flashed_messages() %}
		<script>
			alert("{{ message }}");
		</script>
	{% endfor %}

</body>
</html>
