{% extends "layout.html" %}
{% block body %}
    <div class="section page">

        <div class="wrapper">

            <h1>Thank You!</h1>


            <p>Hello {{ user}} thank you for your order. Your transaction has been completed, and a receipt for your purchase has been emailed into Email: {{ email }}. And  your total is $ {{ total }}
                . You may log into your account at <a href="/"></a> to view details of this transaction.</p>

            <p>Need another shirt already? Visit the <a href="{{ url_for('index') }}">Shirts Listing</a> page again.</p>

        </div>

    </div>
{% endblock %}
