{% extends "layout.html" %}
{% block body %}
    <div class="section page">

        <div class="wrapper">

            <div class="breadcrumb"><a href="{{ url_for("shirts") }}">Shirts</a> &gt; {{ product["name"] }} ></div>

            <div class="shirt-picture">
                <span>
                    <img src="{{ url_for("static", filename=product["img"]) }}" alt="{{ product["name"] }} ?>">
                </span>
            </div>

            <div class="shirt-details">

                <h1><span class="price">${{ product["price"] }}</span> {{ product["name"] }}</h1>

                <form target="" action="/login" method="GET">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="price" value="{{product['price']}}">


                    <input type="hidden" name="item_name" value="{{ product["name"] }}">
                    <table>
                    <tr>
                        <th>
                            <input type="hidden" name="on0" value="Size">
                            <label for="os0">Size</label>
                        </th>
                        <td>
                            <select name="size" id="os0">
                                {%  for size in product["sizes"] %}
                                    <option value="{{ size }}">{{ size }} </option>
                                {% endfor %}
                            </select>
                        <br>
                        </td>
                    <br>

                    </tr>
                    <th>

                        <label for="os1">Quantity</label>

                    </th>
                    <td>
                            <select name="quantity" id="os1">
                                {%  for item in product["quantities"] %}
                                    <option value="{{ item }}">{{ item }} </option>
                                {% endfor %}
                            </select>
                        <br>
                        </td>



                    </table>






                    <input type="submit" value="Add to Cart" name="submit">
                </form>



                <p class="note-designer">**All shirts are designed for your satisfaction.</p>

            </div>

        </div>

    </div>
{% endblock %}
